---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout 
  title="Welcome to My Site" 
  description="A cool Astro site with a black background" 
  class=" bg-amber-50"
>
  <h1 class=" text-purple-500">Hello world</h1>
</MainLayout>