---
import Counter from '../components/Counter.jsx';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro with React</title>
  </head>
  <body>
    <h1>Testing React in Astro</h1>
    <Counter client:load />
  </body>
</html>