---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout 
  title="Welcome to My Site" 
  description="A cool Astro site with a black background" 
  class=" bg-amber-50"
>
  <h1 class="text-emerald-400 text-3xl font-bold underline">Hello world</h1>
  <p class="text-white">This is the page content.</p>
  <!-- Button from your first question -->
   <h1>Push </h1>
  <h1>second Push</h1>
  <h3>Third push</h3>
  <button class="bg-red-950 text-red-400 border border-red-400 border-b-4 font-medium overflow-hidden relative px-4 py-2 rounded-md hover:brightness-150 hover:border-t-4 hover:border-b active:opacity-75 outline-none duration-300 group">
    <span class="bg-red-400 shadow-red-400 absolute -top-[150%] left-0 inline-flex w-80 h-[5px] rounded-md opacity-50 group-hover:top-[150%] duration-500 shadow-[0_0_10px_10px_rgba(0,0,0,0.3)]"></span>
    Hover Me
  </button>
</MainLayout>