---
import Navbar from "../components/Navbar.astro";
import Foot from "../components/Foot.astro";
import "../styles/global.css";

const {
  title = "My Astro Site",
  description = "A simple Astro site with a custom layout",
  class: className,
  showNavbar = true,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      :global(:root){
        --bg-color:#fff;
        --text-color:#1E3A8A;
      }
      :global(body) {
        background-color: var(--bg-color);
        color: var(--text-color);
        margin: 0;
        padding:0;
        transition: all 0.3s ease;
      }
    </style>
  </head>
  <body>
    <div class:list={["min-h-screen flex flex-col", className]}>
      {showNavbar && <Navbar />}
      <main class="flex-grow">
        <slot />
      </main>
      <Foot />
    </div>
  </body>
</html>